*{
    padding: 0;
    margin: 0;
}

.content{
    min-height: 80vh;
}

.side-bar{
    min-height: 100vh;
}

.w-full{
    width: 100%;
}

.text-justify{
    text-align: justify;
}

.bg-dark-navy{
    background-color: #041037;
}

.bg-navy{
    background-color: #071952;
}

.bg-teal{
    background-color: #088395;
}

.bg-light-teal{
    background-color: #37B7C3;
}

.bg-grey{
    background-color: #EBF4F6;
}

.mb-17{
    margin-bottom: 5.5rem;
}
.card-body h1, h2, h3, h4, h5{
    color: black;
}